body {
  background: beige;
  color: black;
  padding: 25px;
  font-family: sans-serif;

}

div.form {
  text-align: center;
}

ul {
  list-style: none;
  border: 2px solid black;
  padding: 10px;
}

button.navtetris {
  height: 40px;
  width: 40px;
}

label {
  display: inline-block;
  text-align: right;
  min-width: 100px;
}

input {
  width: 200px;
  margin: 2px;
}

input#submit{
  width: 50px;
}


#test > div {
  background-color: blue;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: 1px solid navy;
  padding: 5px;
}

#test > div.show {
  background-color: cyan;
}

#test {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px;
}
